<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ballistashipTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{0,0},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cannonTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{512,0},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fireshipTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1024,0},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stickyshipTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1536,0},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shipsspritesheet.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f7580bb71024acb16bd007f0c529a35:26a7f1065fbd5a1a33da38eaa4e10561:52ece0ea059c0dd34d73a3184887e9e2$</string>
            <key>textureFileName</key>
            <string>shipsspritesheet.png</string>
        </dict>
    </dict>
</plist>
